

body {
	font-family: "Times New Roman", Georgia, Serif ;
	background-color: #c0c0c0 ;
}
img {
	max-width: 100% ;
	width: auto ;
	height: auto ;
}
}
div#tswcontent {
	float: right ;
	width: 100% ;
	color: #000 ;
	background-color: #fff ;
}
@media only screen and (max-width: 629px) {
	div#tswsidecol {
		float: none ;
		width: 100% ;
	}
	div#tswcontent {
		float: none ;
		width: 100% ;
	}
}
div#tswcontproper, div#tswsideproper {
	padding-left: 10px ;
	padding-right: 10px ;
	padding-top: 10px ;
	padding-bottom: 10px ; 
}

div#tswcontainer {
	color: inherit ;
	background-color: #fff ;
	max-width: 1000px ;
	margin: 0 auto; 
}

div#tswheader {
	color: #000 ;
	background-color: #fff ;
}
